/*
	@package jjketsa
*/
/*
	Import
	------------------------------------------------
*/
/*
	@package sunsettheme
*/
/*
	Variables
	------------------------------------------------
*/
/*
	@package sunsettheme
*/
/*
	Mixins
	------------------------------------------------
*/
@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
/* 
	Generic 
	------------------------------------------------
*/
body {
  font-family: "arial", "Helvetica Neue", "Helvetica", Arial, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: greyscale; }
  body.no-scroll {
    overflow-y: hidden; }

a {
  color: #000000;
  -webkit-transition: color 320ms ease;
  -moz-transition: color 320ms ease;
  -ms-transition: color 320ms ease;
  -o-transition: color 320ms ease;
  transition: color 320ms ease; }
  a:hover, a:focus {
    text-decoration: none;
    color: #79b20a; }

.scrollTo-top {
  display: none;
  position: fixed;
  bottom: 16px;
  right: 20px;
  font-size: 32px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0.3rem;
  z-index: 5000000000000000; }
  .scrollTo-top i {
    padding: 3px 10px;
    color: #fff; }

.fixed {
  position: fixed !important;
  width: 100%;
  top: 0;
  z-index: 99999; }

#google-map {
  height: 440px; }

@media (min-width: 992px) {
  .container {
    width: 100%; } }
@media (min-width: 1200px) {
  .container {
    width: 1200px; } }
#page-content table {
  max-width: 100%  !important; }

#social_block {
  list-style: none;
  float: right; }
  #social_block li {
    display: inline; }
    #social_block li a {
      display: inline-block;
      width: 40px;
      height: 40px;
      padding: 10px 11px;
      border: 1px solid #fff;
      border-radius: 50%; }
      #social_block li a i {
        color: #fff; }
      #social_block li a.facebook-link {
        padding-left: 14px; }

form {
  color: #6c5417; }
  form .form-control {
    border-radius: 0; }
  form .btn-primary {
    background-color: #79b20a;
    border-color: #79b20a;
    border-radius: 0; }
  form .btn-primary.disabled {
    background-color: #c2d879;
    border-color: #c2d879;
    border-radius: 0; }

.title-head {
  margin-bottom: 40px; }
  .title-head > span {
    font-size: 30px;
    margin-top: 45px;
    margin-bottom: 10px;
    display: inline-block;
    line-height: 45px;
    padding-left: 3px;
    color: #000;
    text-transform: uppercase; }
  .title-head .sub-sum {
    text-align: center; }
    .title-head .sub-sum span {
      max-width: 680px;
      display: inline-block; }

.underline-header {
  text-align: center; }
  .underline-header > span:after {
    content: "";
    border-bottom: 4px solid #79b20a;
    width: 145px;
    margin: auto;
    display: block;
    height: 10px; }

.pagination > .active > a, .pagination > .active span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  background-color: #79b20a;
  border-color: #79b20a; }

/* 
	Header 
        ------------------------------------------------
*/
.header {
  background-color: #fff;
  color: #000;
  /* 
              Header Top content
      ------------------------------------------------
  */
  /* 
          Menu 
          ------------------------------------------------
  */ }
  .header .header-wrap {
    background-color: #fff;
    margin-bottom: 1px; }
    .header .header-wrap .header-top {
      margin: 8px 0 12px 0;
      font-size: 18px; }
      .header .header-wrap .header-top .header-right {
        height: 73px;
        margin-top: 35px;
        width: 440px;
        float: right; }
        .header .header-wrap .header-top .header-right .hotline {
          line-height: 40px;
          float: right; }
          .header .header-wrap .header-top .header-right .hotline span {
            font-weight: bold; }
          .header .header-wrap .header-top .header-right .hotline a {
            color: #d3528c;
            width: 270px;
            position: relative;
            display: block; }
            .header .header-wrap .header-top .header-right .hotline a img {
              position: absolute;
              top: 0;
              right: 0; }
  .header .menu-ground, .header .mobile-sub {
    background: #79b20a; }
  .header .menu-ground {
    transition: all 1s ease; }
    .header .menu-ground .wsmenu > .wsmenu-list > li {
      vertical-align: middle; }
    .header .menu-ground .wsmenu > .wsmenu-list > li > a.active {
      background: #ffde16 !important;
      color: #fff !important; }
    .header .menu-ground .wsmenu > .wsmenu-list > li > a {
      color: #fff;
      text-transform: uppercase;
      border-radius: 0px;
      font-weight: bold;
      background: transparent !important; }
      .header .menu-ground .wsmenu > .wsmenu-list > li > a .arrow:after {
        border-top-color: #fff !important;
        top: 43px !important; }
    .header .menu-ground .wsmenu-submenu {
      top: 90px !important;
      min-width: 185px;
      background-color: transparent; }
      .header .menu-ground .wsmenu-submenu a {
        background: #ffde16 !important; }

.smallogo {
  background: #000;
  padding-top: 3px !important; }

@media (min-width: 992px) {
  .wsmenu > .wsmenu-list > li > a {
    font-size: 14px;
    line-height: 72px; } }
/* 
	Footer
        ------------------------------------------------
*/
footer {
  background: url(/file/front/about_bg.png) repeat;
  padding: 60px 0 0;
  color: #858585; }
  footer a {
    color: #858585; }
  footer .footer-content {
    margin-bottom: 16px; }
    footer .footer-content .footer-top-span {
      display: inline-block;
      color: #000;
      width: 100%;
      font-size: 22px;
      margin-bottom: 30px; }
    footer .footer-content .logo-footer {
      float: right;
      padding-top: 10px; }
    footer .footer-content #counters {
      margin-top: 10px;
      font-size: 14px; }
    footer .footer-content ul.product-menu, footer .footer-content ul.foot-menu {
      list-style: none;
      padding: 0;
      margin: 0;
      line-height: 32px; }
      footer .footer-content ul.product-menu li:before, footer .footer-content ul.foot-menu li:before {
        content: "\f0da";
        font-size: 12px;
        font-weight: normal;
        font-family: FontAwesome;
        padding-right: 15px; }
  footer .footer-top-span #social_block {
    padding: 0;
    float: left;
    margin-bottom: -10px; }
    footer .footer-top-span #social_block a {
      border: none;
      padding: 0;
      width: 20px; }
      footer .footer-top-span #social_block a i {
        color: #000; }

@media (min-width: 992px) {
  .copyright {
    width: 660px !important; } }
@media (max-width: 991px) {
  .footer-col {
    min-height: 294px; } }
/* 
	Search form
        ------------------------------------------------
*/
.search-box {
  background-color: #f7f7f7;
  padding: 60px 0; }
  .search-box .search-form .form-group {
    width: 14.285%;
    float: left;
    margin: 10px 0px;
    padding: 0 20px; }
    .search-box .search-form .form-group:first-child {
      padding-left: 0; }
    .search-box .search-form .form-group:last-child {
      padding-right: 0; }
    .search-box .search-form .form-group button {
      width: 100%;
      margin-top: 24px;
      border-radius: 0;
      height: 35px;
      margin-bottom: 10px; }
    .search-box .search-form .form-group .form-control {
      border-radius: 0; }

@media (max-width: 991px) {
  .search-box .search-form .form-group {
    width: 33%; }
    .search-box .search-form .form-group:first-child {
      padding-left: 20px; } }
/* 
	Product item
        ------------------------------------------------
*/
.ind-product {
  padding-bottom: 50px; }

.product-col .product-item {
  overflow: hidden;
  box-shadow: 0px 0px 8px #e1e1e1;
  position: relative;
  background: #fff; }
  .product-col .product-item img {
    -webkit-transition: transform 0.3s ease;
    -moz-transition: transform 0.3s ease;
    -ms-transition: transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease; }
.product-col:hover .product-item img, .product-col:focus .product-item img, .product-col:active .product-item img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1); }
.product-col .item-title {
  border-top: 1px solid #e1e1e1;
  min-height: 70px;
  width: 100%;
  background: #fff;
  color: #fff;
  padding: 15px 15px 15px 15px;
  vertical-align: bottom;
  text-align: center;
  border: 1px solid #e1e1e1; }
.product-col ul.product-menu {
  font-weight: normal;
  font-size: 16px;
  padding: 15px 0 5px 0; }
  .product-col ul.product-menu li {
    position: relative;
    list-style-type: none; }
    .product-col ul.product-menu li a {
      text-transform: capitalize !important;
      color: #fff !important;
      font-size: 13px;
      line-height: 35px; }
      .product-col ul.product-menu li a span {
        width: 35px;
        display: inline-block; }
        .product-col ul.product-menu li a span::before {
          position: absolute;
          content: "";
          top: 46%;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          margin: 0 15px 0 20px;
          width: 0;
          height: 0;
          border-top: 3px solid transparent;
          border-bottom: 3px solid transparent;
          border-left: 3px solid #fff; }
    .product-col ul.product-menu li > hr {
      margin: 0 20px 0 20px; }
    .product-col ul.product-menu li.active, .product-col ul.product-menu li:focus {
      background-color: #ffde16;
      color: #fff !important; }
    .product-col ul.product-menu li.active hr, .product-col ul.product-menu li:focus hr, .product-col ul.product-menu li:last-child > hr {
      display: none; }

#product-page .sub-sum {
  padding-bottom: 30px;
  padding-top: 30px; }
  #product-page .sub-sum:after {
    clear: both; }
  #product-page .sub-sum:before, #product-page .sub-sum:after {
    display: table;
    content: " "; }
#product-page .product-menu-container {
  background-color: #79b20a; }

/* 
	Buy 
        ------------------------------------------------
*/
.buy-item-row {
  padding: 10px; }
  .buy-item-row .buy-item-bound {
    display: inline-block;
    border: 1px solid #f3f3f3;
    padding: 10px 0; }
    .buy-item-row .buy-item-bound .buy-title {
      font-weight: bold; }

/* 
	Sell
        ------------------------------------------------
*/
.sell-col .sell-item {
  overflow: hidden;
  box-shadow: 0px 0px 8px #e1e1e1;
  position: relative;
  background: #fff; }
  .sell-col .sell-item img {
    -webkit-transition: transform 0.3s ease;
    -moz-transition: transform 0.3s ease;
    -ms-transition: transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease; }
.sell-col:hover .sell-item img, .sell-col:focus .sell-item img, .sell-col:active .sell-item img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1); }
.sell-col .item-title {
  border-top: 1px solid #e1e1e1;
  min-height: 70px;
  width: 100%;
  background: #fff;
  color: #464646;
  padding: 15px 15px 15px 15px;
  vertical-align: bottom;
  text-align: center;
  border: 1px solid #e1e1e1; }
.sell-col ul.sell-menu {
  font-weight: normal;
  font-size: 16px;
  padding: 15px 0 5px 0; }
  .sell-col ul.sell-menu li {
    position: relative;
    list-style-type: none; }
    .sell-col ul.sell-menu li a {
      text-transform: capitalize !important;
      color: #464646 !important;
      font-size: 13px;
      line-height: 35px; }
      .sell-col ul.sell-menu li a span {
        width: 35px;
        display: inline-block; }
        .sell-col ul.sell-menu li a span::before {
          position: absolute;
          content: "";
          top: 46%;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          margin: 0 15px 0 20px;
          width: 0;
          height: 0;
          border-top: 3px solid transparent;
          border-bottom: 3px solid transparent;
          border-left: 3px solid #464646; }
    .sell-col ul.sell-menu li > hr {
      margin: 0 20px 0 20px;
      border-bottom: 1px solid #e3e3e3; }
    .sell-col ul.sell-menu li.active, .sell-col ul.sell-menu li:focus {
      background-color: #ffde16;
      color: #fff !important; }
    .sell-col ul.sell-menu li.active hr, .sell-col ul.sell-menu li:focus hr, .sell-col ul.sell-menu li:last-child > hr {
      display: none; }

/* 
	Concierge
        ------------------------------------------------
*/
.ind-concierge {
  background: url("../file/front/concierge.jpg");
  padding-bottom: 70px; }
  .ind-concierge .concierge-col {
    padding: 0.5px; }
    .ind-concierge .concierge-col .concierge-item-title {
      margin-top: 27px;
      font-weight: bold;
      font-size: 16px; }

.concierge-box .concierge-col .concierge-item {
  overflow: hidden;
  box-shadow: 0px 0px 8px #e1e1e1;
  position: relative;
  background: #fff; }
  .concierge-box .concierge-col .concierge-item img {
    -webkit-transition: transform 0.3s ease;
    -moz-transition: transform 0.3s ease;
    -ms-transition: transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease; }
.concierge-box .concierge-col:hover .concierge-item img, .concierge-box .concierge-col:focus .concierge-item img, .concierge-box .concierge-col:active .concierge-item img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1); }
.concierge-box .concierge-col .item-title {
  border-top: 1px solid #e1e1e1;
  min-height: 70px;
  width: 100%;
  background: #fff;
  color: #464646;
  padding: 15px 15px 15px 15px;
  vertical-align: bottom;
  text-align: center;
  border: 1px solid #e1e1e1; }
  .concierge-box .concierge-col .item-title h3 {
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 17px; }
.concierge-box .concierge-col ul.concierge-menu {
  font-weight: normal;
  font-size: 16px;
  padding: 15px 0 5px 0; }
  .concierge-box .concierge-col ul.concierge-menu li {
    position: relative;
    list-style-type: none; }
    .concierge-box .concierge-col ul.concierge-menu li a {
      text-transform: capitalize !important;
      color: #464646 !important;
      font-size: 13px;
      line-height: 35px; }
      .concierge-box .concierge-col ul.concierge-menu li a span {
        width: 35px;
        display: inline-block; }
        .concierge-box .concierge-col ul.concierge-menu li a span::before {
          position: absolute;
          content: "";
          top: 46%;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          margin: 0 15px 0 20px;
          width: 0;
          height: 0;
          border-top: 3px solid transparent;
          border-bottom: 3px solid transparent;
          border-left: 3px solid #464646; }
    .concierge-box .concierge-col ul.concierge-menu li > hr {
      margin: 0 20px 0 20px;
      border-bottom: 1px solid #e3e3e3; }
    .concierge-box .concierge-col ul.concierge-menu li.active, .concierge-box .concierge-col ul.concierge-menu li:focus {
      background-color: #ffde16;
      color: #fff !important; }
    .concierge-box .concierge-col ul.concierge-menu li.active hr, .concierge-box .concierge-col ul.concierge-menu li:focus hr, .concierge-box .concierge-col ul.concierge-menu li:last-child > hr {
      display: none; }

@media (min-width: 992px) {
  .concierge-col {
    padding: 0.5px;
    width: 20% !important; } }
/* 
	Duoc lieu
        ------------------------------------------------
*/
.ind-duoclieu {
  padding-bottom: 40px;
  background: url(/file/front/about_bg.png) repeat; }

.duoclieu-col .duoclieu-item {
  overflow: hidden;
  box-shadow: 0px 0px 8px #e1e1e1;
  position: relative;
  background: #20adb9; }
  .duoclieu-col .duoclieu-item img {
    -webkit-transition: transform 0.3s ease;
    -moz-transition: transform 0.3s ease;
    -ms-transition: transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease; }
.duoclieu-col:hover .duoclieu-item img, .duoclieu-col:focus .duoclieu-item img, .duoclieu-col:active .duoclieu-item img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1); }
.duoclieu-col .duoclieu-item-title {
  min-height: 70px;
  width: 100%;
  color: #97f7ff;
  padding: 15px 15px 15px 15px;
  vertical-align: bottom; }
.duoclieu-col ul.duoclieu-menu {
  font-weight: normal;
  font-size: 16px;
  padding: 15px 0 5px 0; }
  .duoclieu-col ul.duoclieu-menu li {
    position: relative;
    list-style-type: none; }
    .duoclieu-col ul.duoclieu-menu li a {
      text-transform: capitalize !important;
      color: #464646 !important;
      font-size: 13px;
      line-height: 35px; }
      .duoclieu-col ul.duoclieu-menu li a span {
        width: 35px;
        display: inline-block; }
        .duoclieu-col ul.duoclieu-menu li a span::before {
          position: absolute;
          content: "";
          top: 46%;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          margin: 0 15px 0 20px;
          width: 0;
          height: 0;
          border-top: 3px solid transparent;
          border-bottom: 3px solid transparent;
          border-left: 3px solid #464646; }
    .duoclieu-col ul.duoclieu-menu li > hr {
      margin: 0 20px 0 20px;
      border-bottom: 1px solid #e3e3e3; }
    .duoclieu-col ul.duoclieu-menu li.active, .duoclieu-col ul.duoclieu-menu li:focus {
      background-color: #ffde16;
      color: #fff !important; }
    .duoclieu-col ul.duoclieu-menu li.active hr, .duoclieu-col ul.duoclieu-menu li:focus hr, .duoclieu-col ul.duoclieu-menu li:last-child > hr {
      display: none; }

/* 
	Bai thuoc quy
        ------------------------------------------------
*/
.ind-baithuocquy {
  padding-bottom: 30px; }
  .ind-baithuocquy .title-head span {
    border-left: 3px solid #79b20a; }
  .ind-baithuocquy .baithuocquy-item-title {
    color: #79b20a; }

/* 
	News
        ------------------------------------------------
*/
.ind-news {
  padding-bottom: 30px; }
  .ind-news .title-head span {
    border-left: 3px solid #79b20a; }
  .ind-news .news-item-title {
    color: #79b20a; }

.news-container {
  background-color: #014471; }

.news-title {
  font-size: 16px;
  color: #79b20a; }

/* 
	Tu van
        ------------------------------------------------
*/
.ind-tuvan {
  padding-bottom: 30px; }
  .ind-tuvan .title-head span {
    border-left: 3px solid #79b20a; }
  .ind-tuvan .tuvan-item-title img {
    height: 50px;
    width: 50px;
    margin-right: 15px; }

.tuvan-container {
  background-color: #b2c0c1; }

.tuvan-title {
  font-size: 16px;
  color: #79b20a; }

#tuvan-subscribe .title-head {
  text-align: center; }
#tuvan-subscribe .form-control[name="content"] {
  height: 213px; }

.question-mark {
  float: left; }

.tuvan-line {
  float: left;
  margin-left: 10px;
  margin-bottom: 30px; }

#subscribe .form-control {
  padding: 20px 12px !important; }
#subscribe .btn {
  height: 55px;
  font-size: 20px;
  padding-top: 12px !important; }

/* 
	About
        ------------------------------------------------
*/
.ind-about {
  padding-bottom: 5px;
  background: url(/file/front/about_bg.png) repeat;
  padding-top: 28px;
  padding-bottom: 17px; }
  .ind-about .title-head > span {
    margin-top: 0px; }
  .ind-about .about-col {
    padding: 0.5px; }
  .ind-about .about-3dot img {
    width: 100%; }

.about-box {
  margin-bottom: 15px; }

.about-container {
  height: 200px;
  overflow: hidden;
  width: 100%;
  background: url(/file/front/about-banner.png) no-repeat center center; }

/* 
	Contact
        ------------------------------------------------
*/
.contact-wrap {
  padding-bottom: 105px; }
  .contact-wrap .contact-left {
    background-color: #191919;
    color: #fff;
    margin-bottom: 0;
    padding: 10px; }
    .contact-wrap .contact-left .map-image {
      width: 100%; }
    .contact-wrap .contact-left .thanks-text {
      color: #6c5417; }
  .contact-wrap .contact-right-header {
    text-transform: uppercase;
    color: #6c5417;
    margin-top: 0; }
  .contact-wrap .contact-form {
    color: #6c5417; }
    .contact-wrap .contact-form .purpose-check tr td:first-child {
      padding-right: 25px; }

.contact-container {
  background-color: #b7b7b7; }

@media (min-width: 1060px) {
  .contact-wrap {
    padding-left: 85px;
    padding-right: 85px; } }
/* 
	slider
        ------------------------------------------------
*/
#wowslider-container1 .ws_bullets {
  right: auto !important; }
  #wowslider-container1 .ws_bullets div {
    left: 0; }
  #wowslider-container1 .ws_bullets a {
    background: #fff !important;
    margin-bottom: 3px; }
    #wowslider-container1 .ws_bullets a.ws_selbull {
      background: #e02d85 !important;
      color: #e02d85 !important; }
#wowslider-container1 .ws-title {
  -webkit-transition: transform 0.3s ease;
  -moz-transition: transform 0.3s ease;
  -ms-transition: transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  color: #fff !important;
  opacity: 0.9 !important;
  background-color: #000 !important;
  bottom: 30% !important;
  left: auto !important;
  width: 550px;
  height: 180px;
  padding: 0 !important;
  margin: 0 !important; }
  #wowslider-container1 .ws-title > span {
    -webkit-transition: transform 0.3s ease;
    -moz-transition: transform 0.3s ease;
    -ms-transition: transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
    color: #ea639e !important;
    background-color: transparent !important; }
  #wowslider-container1 .ws-title div {
    background-color: transparent !important; }

.not-has-title .ws-title {
  width: 0 !important; }

.not-has-title .ws_bullets {
  bottom: 0 !important; }
  .not-has-title .ws_bullets > div {
    left: 0 !important; }

@media (max-width: 991px) {
  .ws-title-wrapper {
    display: none; }
    .ws-title-wrapper .ws-title {
      height: 0px !important; }

  .header {
    height: 51px !important; }

  .about-box img, .sell-box img, .product-box img, .buy-box img, .concierge-box img {
    max-width: 100% !important;
    height: auto !important;
    margin-left: 0 !important;
    margin-right: 0 !important; }

  .ind-product, #search-page .product-list {
    margin-right: 15px;
    margin-left: 15px; }

  .contact-wrap {
    margin-left: 0 !important;
    margin-right: 0 !important; }

  .sub-sum img {
    max-width: 100%;
    height: auto;
    margin-left: 0 !important;
    margin-right: 0 !important; } }
@media (max-width: 767px) {
  .wow {
    animation-duration: 0s !important; }

  .ind-sell, .ind-buy {
    padding: 30px 20px !important; }

  .search-box .search-form .form-group {
    width: 45%;
    margin: 0 !important; }

  .search-box {
    padding: 0;
    padding-top: 10px; }

  .search-box .search-button-group {
    width: 90% !important; } }
/* 
	slick
        ------------------------------------------------
*/
.slick-slide {
  margin: 0 2px; }

.slick-list {
  margin: 0 40px; }

.slick-prev, .slick-next {
  top: 29%;
  width: 25px;
  height: 42px;
  background-color: transparent; }

.slick-prev {
  left: 5px;
  background-image: url(/file/front/left-arrow.png); }

.slick-next {
  right: 5px;
  background-image: url(/file/front/right-arrow.png); }

.slick-prev:hover,
.slick-next:hover {
  background-color: #7f7f7f; }

/*# sourceMappingURL=front.css.map */
