/*
	@package sunsettheme
*/

/*
	Variables
	------------------------------------------------
*/
$icon-font : 'sunset-icon';
$body-font : 'arial', 'Helvetica Neue', 'Helvetica', Arial, Verdana, sans-serif;

$primary-color : #000000;
$dark-grey : #333333;
$grey: #858585;
$light-grey: #3b4347;
$light-white: #f6f6f6;
$lighter-grey : #F1F1F1;
$dark-pink : #d3528c;
$pink : #e02d85;
$dark-blue : #0c4da2;
$orange-hover : #F56B08;