/*
	@package jjketsa
*/

/*
	Import
	------------------------------------------------
*/
@import 'variables';		//variables
@import 'mixins';			//mixins

/* 
	Generic 
	------------------------------------------------
*/
body { font-family: $body-font; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: greyscale; 
	
	&.no-scroll {
		overflow-y: hidden;
	}	
}

a { color: $primary-color; @include animate( color, 320ms );
	&:hover,
	&:focus { text-decoration: none; color: $dark-grey; }
}
.scrollTo-top { display: none; position: fixed; bottom: 16px;
    right: 20px; font-size: 32px; background-color: rgba(0, 0, 0, 0.3);
    border-radius: 0.3rem;
    z-index: 5000000000000000;
    i {
        padding: 3px 10px;
        color: #fff;
    }
}
.fixed {
    position: fixed !important;
    width: 100%;
    top: 0;
    z-index: 99999;
}
#google-map{height: 440px;}

@media (min-width: 992px){
    .container {
        width: 100%;
    }
}
@media (min-width: 1200px){
    .container {
        width: 1200px;
    }
}
#page-content table{
    max-width: 100%  !important;
}

#social_block { list-style: none; float:right;
    li{display: inline;
        a{ display: inline-block; width: 40px; height: 40px; padding: 10px 11px; border: 1px solid #fff; border-radius: 50%;
            i{ color: #fff; }  
            &.facebook-link{padding-left: 14px;}
        } 
    }
}

form{color: #6c5417;
    .form-control{; border-radius: 0;}
    .btn-primary{background-color: $dark-grey;border-color: $dark-grey; border-radius: 0;}
    .btn-primary.disabled{background-color: #c2d879;border-color: #c2d879; border-radius: 0;}
}
.title-head {margin-bottom: 40px;
    > span {
        font-size: 30px;
        margin-top: 45px;
        margin-bottom: 10px;
        display: inline-block;
        line-height: 45px;
        padding-left: 3px;
        color: #000;
        text-transform: uppercase;
    }
    .sub-sum{text-align: center; 
              span{ max-width: 680px; display: inline-block; }
    }
}
.underline-header{
    text-align: center;
    > span:after {
        content: "";
        border-bottom: 4px solid $dark-grey;
        width: 145px;
        margin: auto;
        display: block;
        height: 10px;
    }
}
.pagination>.active{
    >a,span,>a:hover,>span:hover,>a:focus,>span:focus {background-color: $dark-grey;border-color: $dark-grey;}
}

/* 
	Header 
        ------------------------------------------------
*/
.header{ background-color: #fff; color: #000; 
/* 
            Header Top content
    ------------------------------------------------
*/
    .header-wrap{ background-color: #fff; margin-bottom: 1px; 
        .header-top{ margin: 8px 0 12px 0; font-size: 18px; 
           .header-right{height: 73px; margin-top: 35px; width: 440px; float:right;
                .hotline{ line-height: 40px; float: right;
                    span{ font-weight: bold;}
                    a{color: $dark-pink;width: 270px; position:relative;display: block;
                        img {position:absolute;top:0;right:0;}
                    }
                    
                }
           }           
        }
    }
    
/* 
        Menu 
        ------------------------------------------------
*/
    .menu-ground, .mobile-sub { background: $light-grey; }
    .menu-ground{ transition: all 1s ease;
        .wsmenu > .wsmenu-list > li{vertical-align: middle; }
    
        .wsmenu > .wsmenu-list > li > a.active { background: #ffde16 !important; color: #fff !important; }
        .wsmenu > .wsmenu-list > li > a { color: #fff; text-transform: uppercase; border-radius: 0px; 
                                          font-weight: bold; 
                                          background: transparent !important;
                                          .arrow:after { border-top-color: #fff!important;top: 43px!important;}
                                          
        }
        .wsmenu-submenu {top: 90px!important; min-width: 185px; background-color: transparent;
            a {background: #ffde16 !important;}
        }
    }
}
.smallogo {
    background: #000; padding-top: 3px !important;
}

@media (min-width: 992px){
    .wsmenu > .wsmenu-list > li > a { font-size: 14px; line-height: 72px; }
}
/* 
	Footer
        ------------------------------------------------
*/

footer { background: url(/file/front/about_bg.png) repeat; padding: 60px 0 0; color: $grey;
    a{ color: $grey; }
    .footer-content { margin-bottom: 16px;
            .footer-top-span {
            display: inline-block;
            color: #000;
            width: 100%;
            font-size: 22px;
            margin-bottom: 30px;
        }
        .logo-footer{float: right; padding-top: 10px;                     
        }
        #counters{margin-top: 10px; font-size: 14px;}
        ul.product-menu,ul.foot-menu { list-style: none;padding: 0; margin: 0; line-height: 32px;
            li:before {
                content: "\f0da";
                font-size: 12px;
                font-weight: normal;
                font-family: FontAwesome;
                padding-right: 15px;
            }
        }
    }
    .footer-top-span #social_block{ padding: 0; float:left; margin-bottom: -10px;
        a {
            border: none; padding: 0; width:20px;
            i  {
            color: #000;
            }
        }
    } 
}

@media (min-width: 992px){
    .copyright { width: 660px!important;}
}

@media (max-width: 991px){
    .footer-col{
         min-height: 294px;   
    }
    
}
/* 
	Search form
        ------------------------------------------------
*/

.search-box{background-color: #f7f7f7; padding: 60px 0;
    .search-form .form-group{ width: 14.285%;float: left; margin: 10px 0px; padding: 0 20px;
        &:first-child{padding-left: 0;}
        &:last-child{ padding-right: 0 ;}
        button{width: 100%; margin-top: 24px;border-radius: 0; height: 35px; margin-bottom: 10px;}
        .form-control {border-radius: 0;}
    }
}

@media (max-width: 991px){
    .search-box .search-form .form-group{ width: 33%;
        &:first-child{padding-left: 20px;}}
    
    
}


/* 
	Product item
        ------------------------------------------------
*/

.ind-product{ padding-bottom: 50px;}
.product-col {
    .product-item { overflow: hidden; 
    box-shadow: 0px 0px 8px #e1e1e1;
    position: relative;
    background: #fff;
          
        img{
            @include animate( transform, 0.3s );
        }
    }
    &:hover .product-item img, &:focus .product-item img, &:active .product-item img, {@include transform( scale(1.1) ); 
    }
    .item-title{
            border-top: 1px solid #e1e1e1;
            min-height: 70px;
            width: 100%;
            background: #fff;
            color: #fff;
            padding: 15px 15px 15px 15px;
            vertical-align: bottom;
            text-align: center;
            border: 1px solid #e1e1e1;
        }  
    ul.product-menu {font-weight: normal;font-size: 16px;padding: 15px 0 5px 0;
        li {position: relative;list-style-type: none;
            a {text-transform: capitalize !important;color: #fff !important;font-size: 13px;line-height: 35px;
               span {width: 35px;display: inline-block;
                     &::before {
                        position: absolute;
                        content: "";
                        top: 46%;
                        -webkit-transform: translateY(-50%);
                        -moz-transform: translateY(-50%);
                        -o-transform: translateY(-50%);
                        -ms-transform: translateY(-50%);
                        transform: translateY(-50%);
                        margin: 0 15px 0 20px;
                        width: 0;
                        height: 0;
                        border-top: 3px solid transparent;
                        border-bottom: 3px solid transparent;
                        border-left: 3px solid #fff;
                    }
               }
            }
            > hr {
                margin: 0 20px 0 20px;
            }
            &.active, &:focus {background-color: #ffde16;color: #fff !important;}
            &.active hr, &:focus hr,&:last-child > hr {
                display: none;
            }
        }
    }
} 
#product-page {
    .sub-sum{ padding-bottom: 30px; padding-top: 30px; 
        &:after{ clear: both;}
        &:before, &:after {
            display: table;
            content: " ";
        }
    }
    .product-menu-container{background-color:$dark-grey;}
} 
/* 
	Buy 
        ------------------------------------------------
*/
.buy-item-row{padding: 10px;
              .buy-item-bound{display: inline-block; border: 1px solid #f3f3f3; padding: 10px 0;
                              .buy-title{font-weight: bold;}
              }
}

/* 
	Sell
        ------------------------------------------------
*/
.sell-col {
    .sell-item { overflow: hidden; 
    box-shadow: 0px 0px 8px #e1e1e1;
    position: relative;
    background: #fff;
          
        img{
            @include animate( transform, 0.3s );
        }
    }
    &:hover .sell-item img, &:focus .sell-item img, &:active .sell-item img, {@include transform( scale(1.1) ); 
    }
    .item-title{
            border-top: 1px solid #e1e1e1;
            min-height: 70px;
            width: 100%;
            background: #fff;
            color: #464646;
            padding: 15px 15px 15px 15px;
            vertical-align: bottom;
            text-align: center;
            border: 1px solid #e1e1e1;
        }  
    ul.sell-menu {font-weight: normal;font-size: 16px;padding: 15px 0 5px 0;
        li {position: relative;list-style-type: none;
            a {text-transform: capitalize !important;color: #464646 !important;font-size: 13px;line-height: 35px;
               span {width: 35px;display: inline-block;
                     &::before {
                        position: absolute;
                        content: "";
                        top: 46%;
                        -webkit-transform: translateY(-50%);
                        -moz-transform: translateY(-50%);
                        -o-transform: translateY(-50%);
                        -ms-transform: translateY(-50%);
                        transform: translateY(-50%);
                        margin: 0 15px 0 20px;
                        width: 0;
                        height: 0;
                        border-top: 3px solid transparent;
                        border-bottom: 3px solid transparent;
                        border-left: 3px solid #464646;
                    }
               }
            }
            > hr {
                margin: 0 20px 0 20px;
                border-bottom: 1px solid #e3e3e3;
            }
            &.active, &:focus {background-color: #ffde16;color: #fff !important;}
            &.active hr, &:focus hr,&:last-child > hr {
                display: none;
            }
        }
    }
}
/* 
	Concierge
        ------------------------------------------------
*/
.ind-concierge{ background: url('../file/front/concierge.jpg'); padding-bottom: 70px;
    .concierge-col{padding:0.5px;
    .concierge-item-title{margin-top: 27px; font-weight: bold; font-size: 16px;}}           
    
}
.concierge-box{
.concierge-col {
    .concierge-item { overflow: hidden; 
    box-shadow: 0px 0px 8px #e1e1e1;
    position: relative;
    background: #fff;
          
        img{
            @include animate( transform, 0.3s );
        }
    }
    &:hover .concierge-item img, &:focus .concierge-item img, &:active .concierge-item img, {@include transform( scale(1.1) ); 
    }
    .item-title{
            border-top: 1px solid #e1e1e1;
            min-height: 70px;
            width: 100%;
            background: #fff;
            color: #464646;
            padding: 15px 15px 15px 15px;
            vertical-align: bottom;
            text-align: center;
            border: 1px solid #e1e1e1;
            h3{border-bottom: 1px solid #e1e1e1;padding-bottom: 17px;}
        }  
    ul.concierge-menu {font-weight: normal;font-size: 16px;padding: 15px 0 5px 0;
        li {position: relative;list-style-type: none;
            a {text-transform: capitalize !important;color: #464646 !important;font-size: 13px;line-height: 35px;
               span {width: 35px;display: inline-block;
                     &::before {
                        position: absolute;
                        content: "";
                        top: 46%;
                        -webkit-transform: translateY(-50%);
                        -moz-transform: translateY(-50%);
                        -o-transform: translateY(-50%);
                        -ms-transform: translateY(-50%);
                        transform: translateY(-50%);
                        margin: 0 15px 0 20px;
                        width: 0;
                        height: 0;
                        border-top: 3px solid transparent;
                        border-bottom: 3px solid transparent;
                        border-left: 3px solid #464646;
                    }
               }
            }
            > hr {
                margin: 0 20px 0 20px;
                border-bottom: 1px solid #e3e3e3;
            }
            &.active, &:focus {background-color: #ffde16;color: #fff !important;}
            &.active hr, &:focus hr,&:last-child > hr {
                display: none;
            }
        }
    }
}
}

@media (min-width: 992px){
    .concierge-col{padding:0.5px; width: 20%!important;}
}
/* 
	Duoc lieu
        ------------------------------------------------
*/
.ind-duoclieu{padding-bottom: 40px; background: url(/file/front/about_bg.png) repeat;
}
.duoclieu-col {
    .duoclieu-item { overflow: hidden; 
    box-shadow: 0px 0px 8px #e1e1e1;
    position: relative;
    background: #20adb9;
          
        img{
            @include animate( transform, 0.3s );
        }
    }
    &:hover .duoclieu-item img, &:focus .duoclieu-item img, &:active .duoclieu-item img, {@include transform( scale(1.1) ); 
    }
    .duoclieu-item-title{
            min-height: 70px;
            width: 100%;
            color: #97f7ff;
            padding: 15px 15px 15px 15px;
            vertical-align: bottom;
        }  
    ul.duoclieu-menu {font-weight: normal;font-size: 16px;padding: 15px 0 5px 0;
        li {position: relative;list-style-type: none;
            a {text-transform: capitalize !important;color: #464646 !important;font-size: 13px;line-height: 35px;
               span {width: 35px;display: inline-block;
                     &::before {
                        position: absolute;
                        content: "";
                        top: 46%;
                        -webkit-transform: translateY(-50%);
                        -moz-transform: translateY(-50%);
                        -o-transform: translateY(-50%);
                        -ms-transform: translateY(-50%);
                        transform: translateY(-50%);
                        margin: 0 15px 0 20px;
                        width: 0;
                        height: 0;
                        border-top: 3px solid transparent;
                        border-bottom: 3px solid transparent;
                        border-left: 3px solid #464646;
                    }
               }
            }
            > hr {
                margin: 0 20px 0 20px;
                border-bottom: 1px solid #e3e3e3;
            }
            &.active, &:focus {background-color: #ffde16;color: #fff !important;}
            &.active hr, &:focus hr,&:last-child > hr {
                display: none;
            }
        }
    }
} 

/* 
	Bai thuoc quy
        ------------------------------------------------
*/
.ind-baithuocquy{padding-bottom: 30px;
    .title-head span{border-left:3px solid $dark-grey;}
    .baithuocquy-item-title {color: $dark-grey; }
}

/* 
	News
        ------------------------------------------------
*/
.ind-news{padding-bottom: 30px;
    .title-head span{border-left:3px solid $dark-grey;}
    .news-item-title {color: $dark-grey; }
}
.news-container{background-color: #014471;}
.news-title{font-size:16px;color: $dark-grey; }
/* 
	Tu van
        ------------------------------------------------
*/
.ind-tuvan{padding-bottom: 30px;
    .title-head span{border-left:3px solid $dark-grey;}
    .tuvan-item-title {
        img{ height: 50px;width: 50px; margin-right: 15px;}
    }
}

.tuvan-container{background-color: #b2c0c1;}
.tuvan-title {
    font-size: 16px;
    color: #79b20a;
}
#tuvan-subscribe{
    .title-head{ text-align: center;}
    .form-control{
                  &[name="content"]{
                      height: 213px;
                  }
    }
}
.question-mark{float:left;}
.tuvan-line{float:left; margin-left: 10px; margin-bottom: 30px;}
#subscribe{
    .form-control{padding: 20px 12px!important;  }
    .btn{height: 55px; font-size: 20px;padding-top: 12px!important;}
}
/* 
	About
        ------------------------------------------------
*/
.ind-about{padding-bottom: 5px; background: url(/file/front/about_bg.png) repeat; padding-top: 28px; padding-bottom: 17px;
    .title-head {
            > span {
                margin-top: 0px;
               }
        }
        .about-col{padding: 0.5px;
            
        }
        .about-3dot img{width: 100%;}
}
.about-box{margin-bottom: 15px;}
.about-container{height: 200px; overflow: hidden; width: 100%;
        background:url(/file/front/about-banner.png) no-repeat center center;
               
}
/* 
	Contact
        ------------------------------------------------
*/
.contact-wrap{ padding-bottom: 105px;
    .contact-left{ background-color: #191919; color: #fff; margin-bottom: 0; padding: 10px;
        .map-image{
            width: 100%;
        }
        .thanks-text{color: #6c5417}
    }
    .contact-right-header{text-transform: uppercase;color: #6c5417; margin-top: 0}
    .contact-form{color: #6c5417;
        .purpose-check{
            tr td:first-child{ padding-right: 25px;}
        }
    }
}

.contact-container{background-color: #b7b7b7;}

@media (min-width: 1060px){
    .contact-wrap {
        padding-left: 85px;
        padding-right: 85px;
    }
}
/* 
	slider
        ------------------------------------------------
*/
#wowslider-container1 {
    .ws_bullets { right: auto!important; 
                  div{ left: 0;}
                  a{background:#fff!important; margin-bottom: 3px;
                    &.ws_selbull {
                      background: $pink!important;
                      color: $pink!important;
                    }
                    }
                }
    .ws-title{@include animate( transform, 0.3s ); color:#fff!important;opacity: 0.9!important; background-color: #000!important; bottom: 30%!important;left: auto!important;width: 550px; height: 180px;padding:0!important;margin:0!important;
              > span{@include animate( transform, 0.3s );color: #ea639e!important;background-color: transparent!important;}
              div{background-color: transparent!important;}
    }
}

.not-has-title .ws-title {
width: 0!important;
}
.not-has-title .ws_bullets {
bottom: 0!important; 
    > div{left: 0!important;}
}

@media (max-width: 991px){
    .ws-title-wrapper{
         display: none;  
        .ws-title{height: 0px!important;}
    }
    .header{height: 51px!important;}
    .about-box img,.sell-box img,.product-box img, .buy-box img,.concierge-box img{
      max-width: 100%!important; height: auto!important; margin-left: 0!important; margin-right:0 !important;
}
.ind-product,#search-page .product-list{ margin-right: 15px; margin-left: 15px;}
.contact-wrap{
       margin-left: 0!important; margin-right:0 !important;
}
.sub-sum  img{
      max-width: 100%; height: auto; margin-left: 0!important; margin-right:0 !important;
}
 }
@media (max-width: 767px){
.wow {
animation-duration: 0s !important;
}
.ind-sell, .ind-buy {
padding: 30px 20px!important;
}
.search-box .search-form .form-group {
    width: 45%;
margin: 0!important;
}
.search-box{
padding: 0;
padding-top: 10px;
}
.search-box .search-button-group{
 width: 90%!important;
}
}

/* 
	slick
        ------------------------------------------------
*/

  .slick-slide {
    margin: 0 2px; }
  .slick-list {
    margin: 0 40px; }
  .slick-prev, .slick-next {
    top: 29%;
    width: 25px;
    height: 42px;
    background-color: transparent; }
  .slick-prev {
    left: 5px;
    background-image: url(/file/front/left-arrow.png); }
  .slick-next {
    right: 5px;
    background-image: url(/file/front/right-arrow.png); }
  .slick-prev:hover,
  .slick-next:hover {
    background-color: #7f7f7f; }


